<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<footer>
<div class="p-3 mb-2 bg-info text-white"><p>Thank you for visiting - More to Come!</p></div>
   
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/nadiCa08" aria-label="Follow @nadiCa08 on GitHub">Follow @nadiCa08</a>
</footer>

